.bill-amount {
  margin-top: 0.5rem;
  position: relative;
}

.input-icon {
  position: absolute;
}

.icon-dollar {
  top: 5.7rem;
  left: 2.5rem;
  width: 1.2rem;
  height: 2rem;
}

.input-bar {
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  font-family: 'Space Mono', monospace;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
