.tip-select {
  margin-top: 4rem;
}

.tip-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem 1.5rem;
  text-align: center;
  font-weight: 700;

  li {
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .selected {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }

  .selected:hover {
    background-color: hsl(172, 67%, 45%);
  }

  .custom-input-bar {
    width: 100%;
    padding-right: 1.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: right;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .tip-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
