// @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Colours

$strong-cyan: hsl(172, 67%, 45%);

$vdk-cyan: hsl(183, 100%, 15%);
$dk-cyan-1: hsl(186, 14%, 43%);
$dk-cyan-2: hsl(184, 14%, 56%);
$bg: hsl(185, 41%, 84%);
$light-cyan-2: hsl(189, 41%, 97%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $bg;
}

.main-logo {
  display: block;
  margin: 5rem auto 0 auto;
}

.section-title {
  font-size: 1.6rem;
  color: $dk-cyan-1;
}

.input-bar,
.custom-input-bar {
  color: $vdk-cyan;
  background-color: $light-cyan-2;

  &:focus {
    outline: 2px solid $strong-cyan;
  }
}

.tip-grid {
  li {
    background-color: $vdk-cyan;
    color: #fff;
  }

  li:hover {
    background-color: hsl(172, 64%, 76%);
    color: $vdk-cyan;
  }

  .custom-input-bar {
    cursor: pointer;
  }
}

.result-card {
  background-color: $vdk-cyan;
  color: #fff;
}

.per-person {
  color: $dk-cyan-2;
}

.amount-data {
  color: $strong-cyan;
}

.reset-btn {
  background-color: $strong-cyan;
  color: $vdk-cyan;
  cursor: pointer;

  &:hover {
    background-color: hsl(172, 64%, 76%);
  }
}
